*{
  margin: 0;
  padding: 0;
}
header {
  background-color: green;
  height: 100px;
}
#title {
  color: white;
  padding: 30px 0px 0px 20px;
}

#paleta {
  margin-top: 20px;
  margin-left: 60px;
  margin-bottom: 10px;
}

.color {
  display: inline-block;
  border: 1px solid black;
  width: 60px;
  height: 60px;
}

#box1 {
  background-color: black;
}
#box2 {
  background-color: green;
}
#box3 {
  background-color: yellow;
}
#box4 {
  background-color: blue;
}

#pixel-board {
  display: inline-block;
  line-height: 0;
}

#pixel-quadro {
  margin-top: 20px;
  margin-left: 75px;
  margin-bottom: 20px;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: inline-block;
  background-color: white;
}

#board-size{
  margin-left: 60px;
}

footer {
  margin-top: 420px;
  height: 50px;
  background-color: green;
}
#footer-p {
  color: white;
  font-style: italic;
  text-align: center;
  padding-top: 5px;
}